#gallery {
  margin: 20%;
}

#gallery-id {
 margin: 3% 5% 3% 5%;
  
}

.card {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: black;
  border-radius: 5%;
}

.card-img-top {
  width: 100%;
  height: 200px;
}

.card-services {
  background-repeat: no-repeat;
  background-size:cover;
}

.carousel-item {
  height: 450px;
}

.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after, .ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-info {
  position: absolute;
  background: rgba(63,147,147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
}

.ch-info p {
  color: #fff;
  font-style: italic;
  font-size: 12px;
  margin-top: 140px ;
  border-top: 2px solid rgba(255,255,255,0.5);
  opacity: 0;
  transition: all 1s ease-in-out 0.4s;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-position:center;
  cursor: default;
  box-shadow: 
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
}

.ch-item:hover {
  border-radius: 50%;
  box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
  transform: scale(1);
  opacity: 1;
}

.ch-item:hover .ch-info p {
  opacity: 1;
}

.company {
  align-items: left;
  color:#979DA2;
  margin-left: 7.1%;
  margin-bottom: -40px;
}

.company > a {
  color: rgba(206, 200, 200, 0.836);
  font-size: 25px;
  text-decoration: none;
}

.company > a > h2:hover{
  color: #7AB800;
}

.contact-us {
  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
  margin: 0 66px;
  margin-top: 15px;
  padding: 45px 0 0 0;
  height: 140px;
}

.cont-h {
  margin: 0 50px;
  margin-top: 15px;
  text-align: center;
}

.contact-us:hover {
  visibility: hidden;
}

.customers-card {
  -webkit-transform: perspective(15px) translateZ(0);
  transform: perspective(15px) translateZ(0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.customers-card:hover, .customers-card:focus, .customers-card:active {
  box-shadow: 10px 10px 25px 5px rgba(0, 139, 149, 0.8);
  -webkit-transform: scale(0.8);
  transform: scale(1.1);
}

.header {
  background-color: black;
}

.ih-item.square.effect3 .img {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.ih-item.square.effect3 .info {
  height: 90px;
  background:black;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.ih-item.square.effect3 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px 10px 0 4px;
  margin: 4px 0 0 0;
}

.ih-item.square.effect3 .info p {
  font-size: 12px;
  color: white;
  padding: 10px;
  text-align: center;
}

.ih-item.square.effect3 a:hover .info {
  visibility: visible;
  opacity: 2;
}

.ih-item.square.effect3.bottom_to_top .info {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}

.ih-item.square.effect3.bottom_to_top a:hover .img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}

.ih-item.square.effect3.bottom_to_top a:hover .info {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.ih-item.square.effect3.top_to_bottom .info {
  bottom: 130%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.ih-item.square.effect3.top_to_bottom a:hover .img {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}

.ih-item.square.effect3.top_to_bottom a:hover .info {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.list-class {
  font-size: medium;
}
  
.nav-link {
  margin: 15px 15px 0 15px;
  font-size: medium;
  color:white!important;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.nav-link::before, .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.nav-link::before {
  background-color: #7AB800;
  height: 1px;
  bottom: 0px;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-link::after {
  content: attr(data-replace);
  height: 100%;
  transform-origin: 100% 50%;
  transform: translate3d(100%, 0, 0);
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
  color: #7AB800 !important;
}
 
.nav-link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.nav-link:hover::after {
  transform: translate3d(0, 0, 0);
}

.nav-link span {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav-link:hover span {
  transform: translate3d(-200%, 0, 0);
}

.quotes .box.box1:hover {
  background: -moz-linear-gradient(-45deg, #7AB800 40%, #00549F 75%);
  background: -webkit-linear-gradient(-45deg, #7AB800 40%, #00549F 75%);
  background: linear-gradient(135deg, #7AB800 15%, #00549F 75%);
}
  
.quotes .box.box2:hover {
  background: -moz-linear-gradient(-45deg, #00549F 40%, #7AB800 75%);
  background: -webkit-linear-gradient(-45deg, #00549F 40%, #7AB800 75%);
  background: linear-gradient(135deg, #00549F 15%, #7AB800 75%);
}

.social {
  margin: 2%;
}

.title-h {
  color: white;
}

.top-to-bottom, .contact {
text-decoration: none;
}

@media screen and (max-width: 1223px) {
  .card-services > .box > h2 {
    font-size: x-large;
  }
}

@media screen and (max-width: 1000px) {
  .card-services-container {
    display: contents;
  }

  .card-services {
    margin: 20px;
    border-radius: 1%;
  }

  .carousel-item {
    margin-bottom: -110px;
  }

  .company {
    margin-bottom: -100px;
    margin-top: 40px;
  }

  .company-sponsor {
    margin-bottom: -160px;
  }
}

@media screen and (max-width: 992px) {

  .company p {
    visibility: hidden;
  }

  .ih-item.square.effect3.top_to_bottom .info {
    visibility: hidden;
  }

  .ih-item.square.effect3 a .info p {
    visibility: hidden;
  }

  .media-q {
    font-size: small;
  }
}

body {
  background-color: black;
  color: #818A8F;
  font-family: Verdana;
}
